<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Biomed Workbench</title>
    <!-- <link rel="stylesheet" type="text/css" href="static/css/index.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	
    <div id="root"></div>
    <script type="text/babel" src="static/js/app.js"></script>
  </body>
</html>
